<!--/////////////////////////////////////////////////////////////////////--->
<!--//////////////////////  C A R R I T O  ////////////////////////////////--->
<!--/////////////////////////////////////////////////////////////////////--->


<!--D I S P L A Y   P A Q U E T E S-->

<h1 class="titulo">CARRITO</h1>

<div id="paquetes-background">
  <div id="paquetes-wrapper">
    
    {{#each arr}}


      <div class="center uk-child-width-1-2@m" uk-grid>
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="{{this.imgPath}}" alt="paqueteImage">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title black">{{this.name}}</h3>
                    <p class="black">{{this.price}} $</p>
                    <a class="button-text" href="/paquetes/detallePaquete/{{this._id}}"><button class="btn detalles">Detalles</button></a>
                    <a class="button-text" href="/eliminar/{{this._id}}"><button class="btn detalles">Eliminar</button></a>
                </div>
            </div>
        </div>
      </div>

    {{/each}}
        
  </div>
</div>















