<!--/////////////////////////////////////////////////////////////////////--->
<!--////////////////////////  E D I T A R   I T E M //////////////////////--->
<!--///////////////////////////////////////////////////////////////////--->


<!-- F O R M -->

<div class="hero-image4"> 
  <div class="hero-text">
    <h1>EDITA TU ITEM</h1>

    <form action="/items/editar/{{_id}}" method="POST">
      <fieldset class="uk-fieldset">

         <div class="uk-margin">
           <label for="name">Nombre del Item</label>
           <input class="uk-input" name = "name" type="text" class="form-control" id="name" aria-describedby="emailHelp" value="{{name}}">
         </div>
         <div class="uk-margin">
           <label for="price">Precio</label>
           <input class="uk-input" name = "price" type="text" class="form-control" id="price" aria-describedby="emailHelp" value="{{price}}">
         </div>
         <div class="uk-margin">
           <label for="tipo">Tipo</label>
           <input class="uk-input" name = "tipo" type="text" class="form-control" id="tipo" aria-describedby="emailHelp" value="{{tipo}}">
         </div>
         <div class="uk-margin">
           <label for="description">Descripción</label>
           <textarea class="uk-input" name="description" id="description" cols="30" rows="10">{{description}}</textarea>
         </div>
       
       
         <button type="submit" class="btn btn-primary">Editar</button>

      </fieldset>
    </form>

  </div>
</div>