

<!-- I T E M S -->

<h1 class="titulo">ITEMS</h1>

<div id="paquetes-background">
  <div id="paquetes-wrapper">


    {{#each items}}
        <div class="paqueteCard uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin uk-animation-slide-left" uk-grid>
                <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                    <img class="card-image" src={{this.imgPath}} alt="imagenPaquete">
                </div>
                <div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">{{this.name}}</h3>
                        <p>{{this.tipo}}</p>
                        <p>{{this.description}}</p>
                        <div class="price-div">
                          <p>{{this.price}} $</p>
                        </div>
        
                        {{#if ../esPartner}}
                          <a class="button-text2" href="/items/eliminar/{{_id}}"><button class="btn">Eliminar Item</button></a>
                          <a class="button-text2" href="/items/editar/{{_id}}"><button class="btn">Editar Item</button></a>
                          {{else}}
                            <a class="button-text2" href="/items/agregado/{{_id}}"><button class="btn2">Agregar al carrito</button></a>
                        {{/if}}

                        
                     </div>
                </div>
        </div>
    
    {{/each}}
    
    
    {{#if esPartner}}
      <div class="button-container">
        <a class="button-text2" href="/items/nuevo-item"><button class="btn">Crea un Nuevo Item</button></a>
      </div>
    {{/if}}
  </div>
</div>


